/* CSS Reset Based on -
 *    Eric Meyer's Reset CSS v2.0 (http://cssreset.com)
 *    Paul Irish's Box Sizing Reset (http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 *    CSS Mojo's clearfix (http://cssmojo.com/latest_new_clearfix_so_far/)
 */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix */

.cf:after {
  content:"";
  display:table;
  clear:both;
}



html, body {
	font-size: 16px;
	font-family: 'Ubuntu';
}


.container {
	margin: 80px auto;
	width: 90%;
}

header {
	margin: 0 0 60px;
	text-align: center;
}

h1 {
	font-size: 26px;
	margin-bottom: 30px
}

a {
	color: cornflowerblue;
}

.scoreboard-container,
.board-container {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	text-align: center;

}

@media screen and (max-width: 800px) {
	.scoreboard-container,
	.board-container {
		display: block;
		width: 100%;
		margin-bottom: 30px;
		
	}

}





/* Playing Board */

.square {
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: rgb(240, 240, 240);
	border: 2px solid rgb(220, 220, 220);
	color: rgb(150, 150, 150);

	margin: 0 5px 10px;

	padding: 5px;
	font-size: 12px;
	text-align: left;
}


.square.Xplayed {
	background-color: pink;
}
.square.Xplayed:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	content:"X";
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}


.square.Oplayed {
	background-color: cornflowerblue;
}
.square.Oplayed:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	content:"O";
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}



/* Scorboard */ 


table.scoreboard {
	border: 1px solid rgb(220, 220, 220);
	text-align: center;
	margin: 0 auto;
}

.scoreboard thead {
	background-color: rgb(240, 240, 240);
	font-weight: 700;
	padding: 20px;
}

.scoreboard th {
	padding: 20px;
}

.scoreboard td {
	border: 1px solid rgb(220, 220, 220);
	padding: 20px;
}

.scoreboard th,
.scoreboard td {
	width: 100px;
}








